@model WorkAndTravelUSA.Models.Location

@{
    ViewBag.Title = "Details";
    var db = new WorkAndTravelUSA.Models.UsaContext();
    var cl1 = db.clientModels.Find(Model.IdClient).Name;
}

<div class="container">

    <h2 class="text-center text-danger py-4">Details Location</h2>

    <div>
        <hr />
        <dl class="dl-horizontal row">
            <div class="col-6 m-auto text-center">

                <dt>
                    Name of creator
                </dt>

                <dd>
                    @cl1
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.State)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.State)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

            </div>

            <div class="col-6 m-auto">

                <dd>
                    <img src="@Model.imgUrl" style="width:30em; height:20em" />
                </dd>

            </div>

        </dl>


    </div>
    <div class="text-center"    >
        Raiting: <br />
        <span class="text-warning">
            <i class="ratingStar far fa-star" data-value="1"></i>
            <i class="ratingStar far fa-star" data-value="2"></i>
            <i class="ratingStar far fa-star" data-value="3"></i>
            <i class="ratingStar far fa-star" data-value="4"></i>
            <i class="ratingStar far fa-star" data-value="5"></i>
        </span>
        Average rating: @Model.finalRating
        <input type="hidden" name="Rating" id="ratingsValue" />
        <p>
            @if (User.IsInRole("Administrator"))
            {
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id })}
            @Html.ActionLink("Back to List", "Index") |
            @Html.ActionLink("Add comment", "CreateComment", new { id = Model.Id })
            @if (User.IsInRole("Administrator"))
            {
                @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
            }



        </p>

       
        Comments:
        <ul style="list-style-type:none;">
            @foreach (WorkAndTravelUSA.Models.Comment comment in Model.Comments)
            {
                <li>
                    @{
                        var cl = db.clientModels.Find(comment.idClient).Name;
                    }
                    <div class="bg-light">
                        <p> <span class="text-danger">@cl</span> : @comment.Description</p>
                    </div>
                </li>
            }
        </ul>

    </div>

</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".ratingStar").hover(function () {
            $(".ratingStar").addClass("far").removeClass("fas");

            $(this).addClass("fas").removeClass("far");
            $(this).prevAll(".ratingStar").addClass("fas").removeClass("far");
        });
    });
    $(".ratingStar").click(function () {
        var starValue = $(this).attr("data-value");
        $("#ratingsValue").val(starValue);

        //here I start
                        $.ajax({
                            url: "@Url.Action("GetAllUser","Locations")",
                            data: "",
                            type: "GET",
                            dataType: "json",
                            success: function (data) {
                                console.log(data);
                                if (data == "Yes") {
                                    var jsonData = {
                                        Id: @Model.Id,
                                        Raiting: starValue
                                    };


                                    $.ajax({
                                        type: "POST",
                                        url: '@Url.Action("SaveLocationRating", "Locations")',
                                        contentType: "application/json;charset=utf-8",
                                        data: JSON.stringify(jsonData),
                                        dataType: "json",
                                        success: function () {
                                            console.log("success");
                                        }
                                    });
                                }
                                else {
                                    alert("You have already voted!")
                                }
                                
                            },
                            error: function () {
                                alert("You must be logged in");
                            }
                        });
        //here I end

        
 });
</script>