@model WorkAndTravelUSA.Models.Location

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Location</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdClient)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdClient)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            Image:
        </dt>

        <dd>
            <img src="@Model.imgUrl" style="width:200px; height:200px" />
        </dd>

    </dl>


</div>  
Raiting: <br />
<span class="text-warning">
    <i class="ratingStar far fa-star" data-value="1"></i>
    <i class="ratingStar far fa-star" data-value="2"></i>
    <i class="ratingStar far fa-star" data-value="3"></i>
    <i class="ratingStar far fa-star" data-value="4"></i>
    <i class="ratingStar far fa-star" data-value="5"></i>
</span>
Average rating: @Model.finalRating
<input type="hidden" name="Rating" id="ratingsValue"/>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index") |
    @Html.ActionLink("Add comment", "CreateComment", new { id = Model.Id }) |
    


</p>
 Comments:
<ul>
    @foreach (WorkAndTravelUSA.Models.Comment comment in Model.Comments)
    {
        <li>
            @Request.Cookies[comment.idClient.ToString()].Value.ToString() | @comment.Description 
        </li>
    }
</ul>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $(".ratingStar").hover(function () {
            $(".ratingStar").addClass("far").removeClass("fas");

            $(this).addClass("fas").removeClass("far");
            $(this).prevAll(".ratingStar").addClass("fas").removeClass("far");
        });
    });
    $(".ratingStar").click(function () {
        var starValue = $(this).attr("data-value");
        $("#ratingsValue").val(starValue);
        
        var jsonData = {
            Id: @Model.Id,
            Raiting: starValue
        };
        $.ajax({
        type: "POST",
        url: '@Url.Action("SaveLocationRating", "Locations")',
        contentType: "application/json;charset=utf-8",
        data: JSON.stringify(jsonData),
        dataType: "json",
        success: function() {
            console.log("success");
        }
        });
 });
</script>