<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://kit.fontawesome.com/8d9c259b70.js" crossorigin="anonymous"></script>
    
    <script src="jquery-3.4.1.min.js"></script>

</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/Locations/Index"><img alt="American flag" src="~/Images/amerika2.png" height="40" width="80" /> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="~/Locations/Index">Почетна <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/Layout/About">НПП</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="~/Layout/Contact">Контакт</a>
                </li>

                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-expanded="false" aria-haspopup="true">Места</a>

                    <ul class="dropdown-menu" role="menu">



                        @{
                            var db = new WorkAndTravelUSA.Models.UsaContext();
                        }

                        @foreach (WorkAndTravelUSA.Models.Location location in db.locationModels)
                        {
                            <li class="dropdown-item" role="presentation">
                                <a href="#" role="tab" data-toggle="tab">
                                    @{
                                        var path = "/Locations/Details/" + @location.Id;
                                    }
                                    <a href=@path>@location.Name</a>
                                </a>
                            </li>
                            <li class="divider"></li>
                        }



                    </ul>
                </li>


            </ul>
            @Html.Partial("_LoginPartial")
            
        </div>
    </nav>
    
    <div>
        @RenderBody()
            <footer class="text-center py-4 bg-dark">
                <p class="text-white">&copy; @DateTime.Now.Year - Project made for "Интернет технологии" course</p>
            </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
